In [ ]:
#clean up data for in order to create datafram to use in heatmapwithtime function.

In [1]:
from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt
import folium
import itertools
import numpy as np

/Users/davidchung/.pyenv/versions/3.6.0/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)
/Users/davidchung/.pyenv/versions/3.6.0/lib/python3.6/site-packages/pandas/compat/__init__.py:84: UserWarning: Could not import the lzma module. Your installed Python is incomplete. Attempting to use lzma compression will result in a RuntimeError.
  warnings.warn(msg)

In [2]:
import pickle


with open('data/may.pkl', 'rb') as f:
    may_data = pickle.load(f)

In [3]:
zipcode = gpd.read_file('./data/zipcode.geojson')

In [4]:
nash= zipcode[(zipcode['po_name'])=='NASHVILLE']

In [5]:
may_scooter_geo = gpd.GeoDataFrame(may_data,crs=nash.crs,geometry=may_data['start_geo'])

In [6]:
nash_may_scooter=gpd.sjoin(may_scooter_geo,nash,op='within')

In [7]:
#making list of Days for heatmapwithtime
may_days =nash_may_scooter[['sumdID', 'zip','Day']]

In [8]:
z_code=[37216,37204,37221,37212,37209,37206,37217,37207,37219,37218,37232,37213,37205,37203,37201,37214,37240,37208,37207,37215,37228,37210,37211,37220]
z_code_lat=[36.216580,36.106735,36.051294,36.133877,36.185400,36.179319,36.108666,36.233774,36.166811,
36.164095,36.1426,36.166156,36.113195,36.149614,36.166001,36.162189,36.144893,36.177714,36.233774,36.081868,36.196931,36.149263,36.067234,36.068447]
z_code_lng=[-86.726854,-86.774283,-86.968798,-86.801254,-86.948570,-86.731083,-86.656722,-86.775969,-86.783177,
-86.889416,-86.8001,-86.767542,-86.870442,-86.790618,-86.777305,-86.670867,-86.805471,-86.808023,-86.775969,-86.834691,-86.803372,-86.732969,-86.723711,-86.793127]

In [9]:
may_zip_code = pd.DataFrame(list(zip(z_code,z_code_lat,z_code_lng)),columns=['zip','latitude','longitude'])

In [15]:
#merging column must be same data type.
may_days['zip']=may_days['zip'].astype(int)

/Users/davidchung/.pyenv/versions/3.6.0/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
#merge two dataframe
may_days = may_days.merge(may_zip_code,on='zip',how='outer')

In [18]:
may_days_pivot=may_days.pivot_table(values='sumdID',index='zip',columns='Day',aggfunc='count',fill_value=0)

In [20]:
#back to dataframe ->required for individual column names
zip_weight_days = pd.DataFrame(may_days_pivot.to_records())

In [21]:
zip_weight_days.head()

,zip,1,2,3,4,5,6,7,8,9,...,22,23,24,25,26,27,28,29,30,31
0,37201,349,864,1123,1177,1200,1135,941,771,635,...,757,882,1193,2284,2455,1778,1057,698,585,845
1,37203,874,2318,3023,3795,3540,2815,2401,2222,1628,...,1608,1914,3025,5713,5377,3936,2163,1574,1665,2519
2,37204,25,159,133,1150,351,119,132,110,173,...,650,337,748,925,950,331,133,125,498,617
3,37205,1,3,8,31,6,2,0,2,1,...,8,3,18,8,8,5,2,0,0,0
4,37206,52,259,316,303,334,266,241,212,214,...,134,191,240,394,427,410,224,170,183,237

In [ ]:
#mini function to change column names and add 'weight' column
i=0
while i >=31:
    zipps = 'zipp'+str(i)
    position = str(i)
    zipps=zip_weight_days[['zip',position]]
    zipps=zipps.rename(columns={position:'weight'})
    zipps['Day']=i
    i=i+1
    
zip31=zipps

In [ ]:
#create df with inner, df with day1, day2....
may_heat = may_days
may_heat = may_heat.sort_values(by=['zip','Day'])
may_heat_merged=may_heat.merge(zip1,on=['zip','Day'],how='inner')

In [ ]:
#concatenate all dataframes
may_heat_weighted = pd.concat([may_heat_merged1, may_heat_merged2,may_heat_merged3,may_heat_merged4,may_heat_merged5,
          may_heat_merged6,may_heat_merged7,may_heat_merged8,may_heat_merged9,may_heat_merged10,
          may_heat_merged11,may_heat_merged12,may_heat_merged13,may_heat_merged14,may_heat_merged15,
          may_heat_merged16,may_heat_merged17,may_heat_merged18,may_heat_merged19,may_heat_merged20,
          may_heat_merged21,may_heat_merged22,may_heat_merged23,may_heat_merged24,may_heat_merged25,
           may_heat_merged26,may_heat_merged27,may_heat_merged28,may_heat_merged29,may_heat_merged30,
          may_heat_merged31], ignore_index=True)